.gh-canvas {
    display: grid;
    grid-template-columns: [full-start] minmax(4vmin,auto) [wide-start] minmax(auto,240px) [main-start] min(720px,calc(100% - 8vw)) [main-end] minmax(auto,240px) [wide-end] minmax(4vmin,auto) [full-end];
}

.gh-content>[id] {
    margin: 0;
    color: var(--color-darkgrey);
}

.gh-canvas>* {
    grid-column: main-start/main-end;
}

.gh-content>[id]+* {
    margin-top: 1.5rem!important;
}

.gh-content>blockquote, .gh-content>hr {
    position: relative;
    margin-top: 6vmin;
}

.gh-content>*+* {
    margin-top: 4vmin;
    margin-bottom: 0;
}

.gh-canvas>* {
    grid-column: main-start/main-end;
}

.gh-content .kg-card+:not(.kg-card), .gh-content :not(.kg-card):not([id])+.kg-card {
    margin-top: 6vmin;
    margin-bottom: 0;
}

.gh-content>[id]:not(:first-child) {
    margin: 2em 0 0;
}

.gh-content a {
    color: #ff1a75;
    text-decoration: underline;
    word-break: break-word;
}

hr {
    position: relative;
    display: block;
    width: 100%;
    margin: 2.5em 0 3.5em;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #f0f0f0;
}


.kg-file-card{
    display: flex;
}

.kg-file-card-contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4px 8px;
    width: 100%;
}

.kg-file-card-metadata {
    display: inline;
    font-size: .825em;
    line-height: 1.3em;
    margin-top: 2px;
}

.kg-file-card-medium a.kg-file-card-container{
    /* min-height: 72px; */
}

.kg-file-card-title{
    font-size: 1.15em;
    font-weight: 700;
    line-height: 1.3em;
}

.kg-file-card-filename{
    display: inline;
    font-weight: 500;
}

.kg-file-card-filesize:before {
    display: inline-block;
    content: "\2022";
    margin-right: 4px;

}

.kg-file-card-filesize{
    display: inline-block;
    font-size: .925em;
    opacity: .6;
}

.kg-file-card a.kg-file-card-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    color: inherit;
    padding: 6px;
    /* min-height: 92px; */
    border: 1px solid rgb(124 139 154/25%);
    border-radius: 3px;
    transition: all ease-in-out .35s;
    text-decoration: none;
    width: 100%;
}



.kg-file-card-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    min-width: 80px;
    height: 100%;
}

.kg-file-card-icon:before{
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: currentColor;
    opacity: .06;
    transition: opacity ease-in-out .35s;
    border-radius: 2px;
}

.kg-file-card-icon svg{
    width: 24px;
    height: 24px;
    color: #ff1a75;
}


svg:not(:root) {
    overflow: hidden;
}

audio, canvas, iframe, img, svg, video{
    vertical-align: middle;

}



.kg-gallery-card, .kg-image-card{
    --gap: 1.2rem;
}

figure{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 00px;
    margin-inline-end: 0px;
}

.kg-image-card img{
    margin: auto;
}

img {
    border: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
